/*
 * -------------------------------------------------
 *  nf-core/methylseq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */


// Configurable variables
params {

  version = '1.1dev' // Pipeline version
  nf_required_version = '0.30.0' // Minimum version of nextflow required
  container = 'nfcore/methylseq:latest' // Container slug. Stable releases should specify release tag!!

  // Pipeline options
  aligner = 'bismark'
  saveReference = false
  saveTrimmed = false
  saveAlignedIntermediates = false
  reads = "data/*_R{1,2}.fastq.gz"
  singleEnd = false
  outdir = './results'
  multiqc_config = "$baseDir/conf/multiqc_config.yaml"
  notrim = false
  nodedup = false
  unmapped = false
  non_directional = false
  comprehensive = false
  relaxMismatches = false
  numMismatches = 0.6
  // 0.6 will allow a penalty of bp * -0.6
  // For 100bp reads, this is -60. Mismatches cost -6, gap opening -5 and gap extension -2
  // So -60 would allow 10 mismatches or ~ 8 x 1-2bp indels
  // Bismark default is 0.2 (L,0,-0.2), Bowtie2 default is 0.6 (L,0,-0.6)
  mindepth = 0
  ignoreFlags = false
}

profiles {

  standard {
    includeConfig 'conf/base.config'
    includeConfig 'conf/igenomes.config'
  }
  conda { process.conda = "$baseDir/environment.yml" }
  docker { docker.enabled = true }
  singularity { singularity.enabled = true }
  uppmax {
    includeConfig 'conf/base.config'
    includeConfig 'conf/uppmax.config'
    includeConfig 'conf/igenomes.config'
  }
  uppmax_devel {
    includeConfig 'conf/base.config'
    includeConfig 'conf/uppmax.config'
    includeConfig 'conf/uppmax-devel.config'
    includeConfig 'conf/igenomes.config'
  }
  aws {
    includeConfig 'conf/base.config'
    includeConfig 'conf/aws.config'
    includeConfig 'conf/igenomes.config'
  }
  test {
    includeConfig 'conf/base.config'
    includeConfig 'conf/test.config'
  }
  none {
    // Don't load any config (for use with custom home configs)
  }

}

profiles_meta {
  uppmax {
    description = 'Profile for the Swedish UPPMAX Clusters'
    hostnames = [
        '*uppmax.se'
    ]
  }
}
params_meta {
  reads {
    type = 'file'
    required = true
    description = 'Path to input data (must be surrounded with quotes)'
  }
  genome {
    type = 'genome'
    group = 'References'
    description = 'Name of iGenomes reference'
  }
  aligner {
    type = 'choice'
    options = ['bismark', 'bwa']
  }
  saveReference {
    type = 'bool'
  }
  saveTrimmed {
    type = 'bool'
  }
  saveAlignedIntermediates {
    type = 'bool'
  }
  singleEnd {
    type = 'bool'
  }
  outdir {
    type = 'file'
  }
  version.hidden = true
  nf_required_version.hidden = true
  container.hidden = true
}


// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/MethylSeq_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/MethylSeq_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/MethylSeq_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/MethylSeq_dag.svg"
}

manifest {
  homePage = 'https://github.com/nf-core/methylseq'
  description = 'Methylation (Bisulfite-Sequencing) Best Practice analysis pipeline, part of the nf-core community.'
  mainScript = 'main.nf'
}

// Print the help message
def helpMessage() {
    helptext = """
    ===================================
     nfcore/methylseq  ~  version ${params.version}
    ===================================
    Usage:

    The typical command for running the pipeline is as follows:

    nextflow run nf-core/methylseq --reads '*_R{1,2}.fastq.gz' --genome GRCh37
    """

    // Required arguments
    helptext += '    Required arguments:\n'
    helptext += params_meta.collect {
      k,v ->
        if(v.required) "--${k.padLeft(6).padRight(18)}: $v.description"
        else null
      }.join("\n")

    // Params groups

    // Params without groups
//
//    Options:
//      --singleEnd                   Specifies that the input is single end reads
//    Strandedness:
//      --forward_stranded            The library is forward stranded
//      --reverse_stranded            The library is reverse stranded
//      --unstranded                  The default behaviour
//
//    References                      If not specified in the configuration file or you wish to overwrite any of the references.
//      --star_index                  Path to STAR index
//      --hisat2_index                Path to HiSAT2 index
//      --fasta                       Path to Fasta reference
//      --gtf                         Path to GTF file
//      --bed12                       Path to bed12 file
//      --downloadFasta               If no STAR / Fasta reference is supplied, a URL can be supplied to download a Fasta file at the start of the pipeline.
//      --downloadGTF                 If no GTF reference is supplied, a URL can be supplied to download a Fasta file at the start of the pipeline.
//      --saveReference               Save the generated reference files the the Results directory.
//      --saveTrimmed                 Save trimmed FastQ file intermediates
//      --saveAlignedIntermediates    Save the BAM files from the Aligment step  - not done by default
//
//    Trimming options
//      --clip_r1 [int]               Instructs Trim Galore to remove bp from the 5' end of read 1 (or single-end reads)
//      --clip_r2 [int]               Instructs Trim Galore to remove bp from the 5' end of read 2 (paired-end reads only)
//      --three_prime_clip_r1 [int]   Instructs Trim Galore to remove bp from the 3' end of read 1 AFTER adapter/quality trimming has been performed
//      --three_prime_clip_r2 [int]   Instructs Trim Galore to re move bp from the 3' end of read 2 AFTER adapter/quality trimming has been performed
//
//    Presets:
//      --pico                        Sets trimming and standedness settings for the SMARTer Stranded Total RNA-Seq Kit - Pico Input kit. Equivalent to: --forward_stranded --clip_r1 3 --three_prime_clip_r2 3
//
//    Other options:
//      --outdir                      The output directory where the results will be saved
//      --email                       Set this parameter to your e-mail address to get a summary e-mail with details of the run sent to you when the workflow exits
//      --sampleLevel                 Used to turn of the edgeR MDS and heatmap. Set automatically when running on fewer than 3 samples
//      --rlocation                   Location to save R-libraries used in the pipeline. Default value is ~/R/nxtflow_libs/
//      --clusterOptions              Extra SLURM options, used in conjunction with Uppmax.config
//      -name                         Name for the pipeline run. If not specified, Nextflow will automatically generate a random mnemonic.

    log.info helptext.stripIndent()
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
